<h1>Reset Your Password</h1>
<form action="/password-request" method="post">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= params[:email] %>"/>
  </p>
  <input type="submit" value="submit"/> <a href="/login">login</a>
</form>
